:root {
  --bg-color: #080808;
  --bg-card: #111111;
  --text-main: #33ff00; /* Retro Phosphor Green */
  --text-muted: #1e9900;
  --neon-blue: #33ff00; 
  --neon-purple: #ffb000; /* Amber / Orange */
  
  --font-main: 'VT323', monospace;
  --font-mono: 'Press Start 2P', monospace;

  --border-color: #33ff00;
  --border-neon-blue: 4px solid var(--neon-blue);
  --border-neon-purple: 4px solid var(--neon-purple);
  --shadow-neon-blue: 4px 4px 0px rgba(51, 255, 0, 0.8);
  --shadow-neon-purple: 4px 4px 0px rgba(255, 176, 0, 0.8);
}

[data-theme='light'] {
  --bg-color: #e0e0e0;
  --bg-card: #cccccc;
  --text-main: #000000;
  --text-muted: #444444;
  --neon-blue: #0000dd; /* 8-bit Blue */
  --neon-purple: #dd0000; /* 8-bit Red */
  
  --border-color: #000000;
  --shadow-neon-blue: 4px 4px 0px #000000;
  --shadow-neon-purple: 4px 4px 0px #000000;
}
